<dialog appDialog #more_submissions_dialog title="More Submissions">
    <ng-template appDialogContent>
        <div>
            <app-more-submissions></app-more-submissions>
        </div>
    </ng-template>
</dialog>
<dialog appDialog #more_submissions_dialog2 title="More Submissions">
    <ng-template appDialogContent>
        <div>
            <app-create-submission></app-create-submission>
        </div>
    </ng-template>
</dialog>

<div class="submission-table-container">
    <table class="submission-table box-shadow">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody *ngFor="let submission of submissions; even as isEven;">
            <tr>
                <td>{{submission.userName}}</td>
                <td>{{submission.datePosted | date: 'medium'}}</td>
                <td>{{submission.time | timeFormat}}</td>
            </tr>
        </tbody>
    </table>
    <button class="button-default" (click)="more_submissions_dialog2.showModal()">Add Submission</button>
    <!-- <button class="button-default" (click)="more_submissions_dialog.showModal()">View More</button> -->
</div>
