<div class="create-track-wrapper">
    <form [formGroup]="startingLocation">
        <div>
            <label for="title">Title</label>
            <input id="title" />
            <label for="location">Starting Location</label>
            <div class="initial_location">
                <div>
                    <span>Latitude: </span>
                    <input formControlName="lat"/>
                </div>
                <div>
                    <span>Longitude: </span>
                    <input formControlName="lng"/>
                </div>
                <button class="update_locaiton_button" (click)="updateStartingLocation()">Update</button>
            </div>
            <label>Map</label>
            <div class="map">
                <app-create-map [startingLocation]="parsedStartedLocation"></app-create-map>
            </div>
            <label>Checkpoints</label>
            <div class="map">
                <app-checkpoints></app-checkpoints>
            </div>
            <button class="button-default" type="submit">Submit</button>
        </div>
    </form>
</div>
