.submission-table-container {
    width: 100%;
    border-bottom: solid 1px var(--dark);
}

.submission-table {
    border-collapse: collapse;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
    width: 100%;
}

.submission-table thead tr{
    color: black;
    height: 55px;
    text-align: left;
}

.submission-table tbody tr {
 height: 50px;
}

.submission-table td, th{
    padding: 12px;
}

.submission-table th{
    background-color: var(--dark);
    color: white;
    position: sticky;
    top: var(--dialog-header-height);
    z-index: 1;
}
