.app-map-panel-container {
    display: flex;
    width: 40%;
    height: 100%;
}

.main-content {
    display: flex;
    width: 100%;
    height: calc(99vh - var(--nav-bar-height));
    background-color: #cad2c5;
    justify-content: center;
}

.content-center {
    display: flex;
    width: 80%;
    background-color: white;
}

.app-map-panel {
    width: 50%;
    height: 100%;
}

.trail-content-container {
    padding: 1rem;
    /* flex-grow: 1; */
    width: 50%;
    overflow-y: auto;
}