.app-map-panel-container {
    display: flex;
    width: 40%;
    height: 100%;
}

.main-content {
    display: flex;
    width: 100%;
    height: calc(99vh - var(--nav-bar-height));
    background-color: green;
}

.app-map-panel {
    width: 40%;
    height: 100%;
}

.trail-content-container {
    padding: 1rem;
    flex-grow: 1;

}