.main-content {
    display: flex;
    width: 100%;
    height: calc(99vh - var(--nav-bar-height));
    background-color: var(--light);
    background-color: beige;
    justify-content: center;
}

dialog {
    width: 100%;
}

.view-track {
    display: flex;
    width: 80%;
    height: 100%;
}