<div>
    <table class="submission-table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Date Posted</th>
                <th>Time</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody *ngFor="let submission of submissions; even as isEven;">
            <tr>
                <td>{{submission.userName}}</td>
                <td>{{submission.datePosted | date: 'medium'}}</td>
                <td>{{submission.time | timeFormat}}</td>
                <td>{{submission.rating}}</td>
            </tr>
        </tbody>
    </table>
    <button class="view-more-button">Add Submission</button>
    <button class="view-more-button">View More</button>
</div>
