<dialog appDialog #dialog title="More Submissions">
    <ng-template appDialogContent>
      <div>
        <app-more-submissions></app-more-submissions>
      </div>
    </ng-template>
</dialog>
<div class="submission-table-container">
    <table class="submission-table box-shadow">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Date Posted</th>
                <th>Time</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody *ngFor="let submission of submissions; even as isEven;">
            <tr>
                <td>{{submission.userName}}</td>
                <td>{{submission.datePosted | date: 'medium'}}</td>
                <td>{{submission.time | timeFormat}}</td>
                <td>{{submission.rating}}</td>
            </tr>
        </tbody>
    </table>
    <button class="button-default">Add Submission</button>
    <button class="button-default" (click)="dialog.showModal()">View More</button>
</div>
