.submission-table {
    border-collapse: collapse;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
    width: 700px;
}

.submission-table thead tr{
    color: black;
    height: 55px;
    text-align: left;
}

.submission-table tbody tr {
 height: 50px;
}

.submission-table td, th{
    padding: 12px 50px 12px 15px;
}

.submission-table th{
    border-bottom: 1px solid black;
}

.view-more-button {
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin: 10px 0px;
}

.view-more-button:hover{
    background-color: white;    
    color: black;
    border: 1px solid black;
    cursor: pointer;
}